<div class="footer">
    <div class="links">
        <div class="link">Home</div>
        <div class="link">About</div>
        <div class="link">Help</div>
    </div>
    <div class="links">
        <div class="link">Buy</div>
        <div class="link">Browse</div>
        <div class="link">Etc</div>
    </div>
    <div class="links">
        <div class="link">Bla</div>
        <div class="link">Bla</div>
        <div class="link">Blu</div>
    </div>
</div>

<div class="app-footer-menu">
    <a routerLink="/home">
        <div class="menu-item">
            Home
        </div>
    </a>

    <a routerLink="/products">
        <div class="menu-item">
            Products
        </div>
    </a>

    <a routerLink="/admin">
        <div class="menu-item">
            Admin
        </div>
    </a>
</div>
