.prodholder
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    height: 65vh;
    /* background-color: transparent; */
    overflow-y:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.prodHolder::-webkit-scrollbar {
    display: none;
  }

.prod
{
    min-height:200px;
    width:150px;
    margin:10px auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 1.95px 5px 15px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    border-radius: 10%;
    /* padding: 0px 10px; */
}


.imgholder
{
    padding: 10px 5%;
    height:125px;
    text-align: center;
}
.imgholder img
{
    width:90%;
    height:125px;
}

.dataholder
{
    display: flex;
    justify-content: space-evenly;
    height:30px;
}
.dataholder.price
{
    width:20%;
}

.dataholder.addToCart
{
    width:80%;
    margin:auto;
}
.addToCart button
{
    height: 20px;
}

@media only screen and (orientation: portrait) {
    .prodholder
    {
        grid-template-columns: auto auto ;
    }
    .prod
    {
        width:150px;
    }
}